@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family:  'Mukta', sans-serif ;
    background-color: #152238;
    color: rgb(247, 247, 247);
    /* letter-spacing: 0.8px; */
}

a{
    text-decoration: none;
    color: white;
    font-weight: 800;
}

h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
    color: orange;
}


.section-one{
    /* width: 90vw; */
    height: 85vh;
    margin: 25px ;
    background-image:  linear-gradient(155deg, rgb(255, 255, 255, .15), transparent);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, .1), inset 0 0 0 2px rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 0.25rem;
    display: flex;
    
}

.section-one p{
    font-weight: 600;
    /* color: rgb(255, 89, 47); */
    margin: 30px 0;
    letter-spacing: 1px;
}

.bn-text{
    width: 45%;
    margin-top: 65px;
}

.bn-text h1 .fnt-clr{
    font-family: 'Tourney', cursive;
    color: rgb(152, 30, 233);
}

.btn{
    padding: 5px 40px;
    letter-spacing: 1px;
    background-color: #08cf19f6;
    border-radius: 0.2rem;
}

.bn-img {
    width: 45%;
    margin-left: 25px;
}
.bn-img img{
    margin-left: 25px;
}

.btn{
    padding: 5px 40px;
    letter-spacing: 1px;
    background-color: #08cf19f6;
    border-radius: 0.2rem;
}